@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>

    <TITLE>MMD compacter</TITLE>


    <!--title header div styles-->
    <style>
        #tilte-div {
            position: center;
            height: 100%;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            padding: 10px;
            border: 1px solid red;
            background-color: whitesmoke;
            margin-top: 10px;
            border-radius: 10px;
            color: red;
            align-content: center;
            font-size: 20px;
            font-family: 'Comic Sans MS';
            text-align-last: center;
        }
    </style>


    <!--selecting file styles-->
    <style>
        #form-div-style {
            position: center;
            height: 100%;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            padding: 10px;
            border: 1px solid red;
            background-color: whitesmoke;
            margin-top: 10px;
            border-radius: 10px;
            color: red;
            font-size: 20px;
            font-family: 'Comic Sans MS';
        }

        #files-list {
            font-size: 20px;
            font-family: 'Comic Sans MS';
            color: red;
        }

        #text-fileName {
            font-size: 15px;
            border: 1px solid red;
            border-radius: 5px;
            color: red;
            font-family: 'Comic Sans MS';
            margin-left: 10px;
            background-color: white;
        }

        #button-compact {
            color: red;
            margin-left: 30px;
            text-align: center;
            font-family: 'Comic Sans MS';
            font-size: 20px;
            padding-right: 50px;
            padding-left: 50px;
            border: 1px solid red;
            border-radius: 7px;
            background-color: white;
        }

        #button-updateList {
            color: red;
            margin-left: 30px;
            text-align: center;
            font-family: 'Comic Sans MS';
            font-size: 20px;
            padding-right: 50px;
            padding-left: 50px;
            border: 1px solid red;
            border-radius: 7px;
            background-color: white;
        }
    </style>

    <!--graph container styles-->
    <style>
        #graph-container {
            margin-top: 20px;
            background-color: whitesmoke;
            border: 1px solid darkslateblue;
            border-radius: 5px;
            height: 700px;
            width: 100%;
        }
    </style>

    <!--title file editor div-->
    <style>
        #fileEditorTitle-div {
            position: center;
            height: 100%;
            width: 100%;
            min-height: 100%;
            min-width: 100%;
            padding: 10px;
            border: 1px solid red;
            background-color: whitesmoke;
            margin-top: 10px;
            border-radius: 10px;
            color: red;
            align-content: center;
            font-size: 20px;
            font-family: 'Comic Sans MS';
            text-align-last: center;
        }
    </style>

    <!--file editor styles-->
    <style>
        #fileEditor-div {
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 10px;
            border: 1px solid red;
            color: red;
            font-size: 15px;
            font-family: 'Comic Sans MS';
            border-radius: 7px;
            background-color: whitesmoke;
        }

        .fileEditor-textInputs-style {
            font-size: 15px;
            border: 1px solid red;
            border-radius: 5px;
            color: red;
            font-family: 'Comic Sans MS';
            margin-right: 20px;
            background-color: white;
            width: 100px;
        }

        #createRandomGraph-button {
            margin-top: 10px;
            background-color: white;
            color: red;
            text-align: center;
            font-family: 'Comic Sans MS';
            font-size: 15px;
            border: 1px solid red;
            border-radius: 7px;
            margin-left: 50px;
        }

        #deleteFile-button {
            margin-top: 10px;
            background-color: white;
            color: red;
            text-align: center;
            font-family: 'Comic Sans MS';
            font-size: 15px;
            border: 1px solid red;
            border-radius: 7px;
            margin-left: 50px;
        }
    </style>

</head>



<body style="background-color:white">

    <!--title div-->
    <div id="tilte-div">
        <strong>
            MMD graph visualizer
        </strong>
    </div>

    <!--selecting file div-->
    <div id="form-div-style">
        <form>
            <strong style="margin-left: 100px;"> input your graph file name : </strong>
            <input type="text" value="fileName" id="text-fileName" />
            <input type="button" id="button-compact" value="compact" onclick="compact()" />
            <input type="button" id="button-updateList" value="update list" onclick="updateList()" />
            <br /><br />
            <ul id='files-list'>
            </ul>
        </form>
    </div>

    <!--graph container div-->
    <div id="graph-container"></div>

    <!--file editor title div-->
    <div id="fileEditorTitle-div">
        <strong>
            File editor
        </strong>
    </div>


    <!--file editor div-->
    <div class="form-div-style" id="fileEditor-div">
        <form>
            <strong style="margin-left:20px"> number of vertices : </strong>
            <input type="text" value="10" id="verticesCount-input" class="fileEditor-textInputs-style" ; />
            <strong> number of edges : </strong>
            <input type="text" value="20" id="edgesCount-input" class="fileEditor-textInputs-style" ; />
            <strong> fileName : </strong>
            <input type="text" class="fileEditor-textInputs-style" ; value="random.txt" id="randomGraph-fileName" />
            <input type="button" id="createRandomGraph-button" value="random graph compact" onclick="randomGraphCompact()" />
            <br />
            <strong style="margin-left:20px"> fileName : </strong>
            <input type="text" class="fileEditor-textInputs-style" ; value="fileName" id="deleteFileName-input" />
            <input type="button" id="deleteFile-button" value="DELETE" onclick="deleteFile()" />
        </form>
    </div>


</body>
</html>
















<script src="~/Scripts/ogma.min.js"></script>

@section scripts{
    <script>
        function compact()
        {
            const queryText = $('#text-fileName').val();
            $.ajax({
                url: '/query/compact',
                method: 'post',
                data: { query: queryText }
            }).done((result) =>
            {
                drawGraph(result);
            });
        }

        function randomGraphCompact()
        {

            const v = $('#verticesCount-input').val();
            const e = $('#edgesCount-input').val();
            const fileName = $('#randomGraph-fileName').val();

            var queryText = v + "-" + e + "-" + fileName;
            $.ajax({
                url: '/query/randomGraph',
                method: 'post',
                data: { query: queryText }
            }).done((result) =>
            {
                drawGraph(result);
            });
            updateList();
        }

        function drawGraph(result)
        {
            if (result == "")
            {
                alert("there isn't any graph by this adress");
                return;
            }
            var g = { nodes: [], edges: [] };
            $.each(result.Locations, (index, value) =>
            {
                g.nodes.push({
                    id: 'n' + index,
                    attributes: {
                        x: value.X,
                        y: value.Y,
                        text: 'N' + index,
                        radius: 10
                    }
                });
            });
            $.each(result.Edges, (index, value) =>
            {
                g.edges.push({
                    id: 'e' + index,
                    source: 'n' + value.A,
                    target: 'n' + value.B,
                    attributes: { text: 'edge' + index }
                });
            });
            $('#text').html('');
            var ogma = new Ogma({
                graph: g,
                container: 'graph-container'
            });
        }

        function updateList()
        {
            var text = "";
            $.ajax({
                url: '/query/getFiles',
                method: 'POST',
                data: null,
            }).done((result) =>
            {
                $.each(result, (index, value) =>
                {
                    text += "<li>" + value + "</li>";
                });
                var list = $('#files-list');
                list.html(text);
            });
        }

        function deleteFile()
        {
            var fileName = $('#deleteFileName-input').val();
            $.ajax({
                url: '/query/deleteFile',
                method: 'POST',
                data: fileName,
            }).done((result) =>
            {
                if (result == "error")
                {
                    alert("there isn't any file by this name!");
                }
            });
        }
    </script>
}



